<html>
<head>
	<title>设备管理</title>
</head>
<body>
	<include file="./Backstage/Home/View/Common/framework.html"/>
	 <div class="span9" id="content" >
                    <div class="row-fluid" style="margin-top:1em">
                            <div class="navbar">
                                <div class="navbar-inner">
                                    <ul class="breadcrumb">
                                        <i class="icon-chevron-left hide-sidebar"><a href='#' title="Hide Sidebar" rel='tooltip'>&nbsp;</a></i>
                                        <i class="icon-chevron-right show-sidebar" style="display:none;"><a href='#' title="Show Sidebar" rel='tooltip'>&nbsp;</a></i>
                                        <li>
                                            <a href="#">设备管理</a> <span class="divider">/</span>    
                                        </li>
                                        <li>
                                            <a href="#">设备</a> <span class="divider">/</span> 
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
		<iframe style="width:69em;height:40em" src="http://localhost/zm" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes"></iframe>
	</div>
        <script type="text/javascript">
            $('#menu_item_3').addClass('active');   
        </script>

</body>
</html>