<!DOCTYPE html>
<html lang="en">
<head>
    <title>WechatManagement</title>
</head>
<body>
<include file="./Backstage/Home/View/Common/weixin.html"/>
               <!--/span-->
    <div class="span9" id="content">
                           <div class="navbar">
                                <div class="navbar-inner">
                                    <ul class="breadcrumb">
                                        <i class="icon-chevron-left hide-sidebar"><a href='#' title="Hide Sidebar" rel='tooltip'>&nbsp;</a></i>
                                        <i class="icon-chevron-right show-sidebar" style="display:none;"><a href='#' title="Show Sidebar" rel='tooltip'>&nbsp;</a></i>
                                        <li>
                                            <a href="#">WechatManagement</a> <span class="divider">/</span>    
                                        </li>
                                        <li>
                                            <a href="#">WechatAcountManagement</a> <span class="divider">/</span> 
                                        </li>
                                        <li class="active">Tools</li>
                                    </ul>
                                </div>
                            </div>
                <div id="custom-bind" class="tab-pane active">
                    <div class="row alert alert-info" style="margin: 20px 0;">
                        <p style="line-height:30px">
                            <strong>Kindly Reminder：</strong> <br>
                            The system provides automatic reply WeChat public platform interface, please according to the following steps<br>
                            1. Please login<a href="http://mp.weixin.qq.com" target="_blank" class="blue">WeChat public platform</a>Register the public account, complete the following information and submit<br>
                            2. [function] into senior, in close [edit mode, open and enter the configuration page development mode.<br>
                            3. The following interface configuration information for the URL and Token write WeChat public platform configuration page and submit.<br>
                            4. If your acount has advanced interface permission, please developers credentials in the public platform (AppId and AppSecret) provided on this page<br>
                        </p>
                    </div>

                    <div class="row" style="margin-left:15px !important">
                        <div class="weichat-account">
                            <form id="custom-form" role="form" method="post" action="{:U('WechatReply/add_wechat_user')}" enctype="multipart/form-data">
                    <div class="row form-group">
                        <div class="col-md-12" >
                            <label for="url">URL </label>
                            <br/>
                            <input id="url" name="wechat[url]" type="text"
                                   value="{$wechat['url']}"
                                   disabled style='width:40%;float:left'
                                   />
                            <input id="url_mark" name="wechat[url]" type="text"
                                   value="{$wechat['url']}"
                                   style='display:none'
                                   />
                            <div class='help-block'>Click on the content of 3 can be selected content</div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12" >
                            <label for="token">Token </label>
                             <br/>
                            <input id="token" name="wechat[token]" type="text"
                                   value="{$wechat['token']}"
                                   style='width:40%;float:left'/>
                                   <div class='help-block'>Click on the content of 3 can be selected content</div>
                        </div>
                    </div>
                                <div class="row form-group">
                                    <div class="col-md-5">
                                        <label for="account-name">Name</label><br>
                                        <input id="account-name" name="wechat[wechat_name]" type="text" placeholder="公众号名称" value ="{$wechat['wechat_name']}" class="form-control"/>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-5">
                                        <label for="wechat">Wechat Number</label><br>
                                        <input id="wechat" name="wechat[wechat_id]" type="text" placeholder="原始ID" value ="{$wechat['wechat_id']}"
                                               class="form-control"/>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-5">
                                        <label for="wechat-type">type </label>
                                        <select id="wechat-type" name="wechat[type]" value="{$wechat['type']}"> 
                                            <option value="subscribe">订阅号</option>
                                            <option value="subscribe_had_comfirm">订阅号（已认证）</option>
                                            <option value="service">服务号</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group app-info" style="float:inherit;">
                                    <div class="col-md-1"><label for="appID">appID </label>
                                        <input id="appID" name="wechat[app_id]" type="text" placeholder="appID" value="{$wechat['app_id']}"
                                               class="form-control"/></div>
                                    `
                                </div>
                                <div class="row form-group app-info" style="float:inherit;">
                                    <div class="col-md-1"><label for="appSecret">appSecret </label>
                                        <input id="appSceret" name="wechat[app_secret]" type="text" placeholder="appSeceret" value="{$wechat['app_secret']}"
                                               class="form-control"/></div>
                                </div>

<!--                                 <div class="row form-group">
                                    <div class="col-md-5">
                                        <label for="wechat-code">二维码 </label>
                                        <input id="wechat-code" type="file" placeholder="微信号" name="qr_code"
                                               class="form-control"/>
                                    </div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-5"><img style="position: relative; top: -30px;height: 90px;"
                                                               class="img-thumbnail"
                                                               src="__ROOT__/{$wechat['qr_code']}"
                                                               alt=""/></div>
                                </div> -->
                                <div class="row form-group">
                                    <div class="col-md-2">
                                        <button class="btn btn-large btn-primary" type="submit"
                                                id="custom-bind-apply"><span
                                                class="glyphicon glyphicon glyphicon-save"></span> 提交
                                        </button>
                                    </div>
                                    <div class="col-md-1">
                                        <button class="btn btn-large btn-primary" type="button"
                                                id="custom-bind-reset"><span
                                                class="glyphicon glyphicon glyphicon-refresh"></span> 重置
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

</div>
<!--翻页-->
<div align="center">
    {$page}
</div>
<!--翻页结束-->
</body>
<script>
    $(function(){
        $(".btn-search").click(function(){
            var keyword = $("#search-keyword").val();
            var url = "{$searchUrl}" + "?keyword=" + keyword;
            $(".btn-search").attr("href",url);
        });
        {$js}
    });
</script>
        <script type="text/javascript">
            $('#menu_item_1').addClass('active');   
        </script>
</html>