<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/wechat-menu.css"/>

    <style>
        .board {
            background: url("__PUBLIC__/admin/img/wechat-menu/bg_repno.gif") no-repeat scroll 0 0 transparent;
            padding-left: 55px;
        }
        .glyphicon {
            cursor: pointer;
        }

        .operator button {
            margin-right: 30px;
        }

    </style>
</head>
<body>
<include file="./Backstage/Home/View/Common/weixin.html"/>
               <!--/span-->
    <div class="span9" id="content">
                           <div class="navbar">
                                <div class="navbar-inner">
                                    <ul class="breadcrumb">
                                        <i class="icon-chevron-left hide-sidebar"><a href='#' title="Hide Sidebar" rel='tooltip'>&nbsp;</a></i>
                                        <i class="icon-chevron-right show-sidebar" style="display:none;"><a href='#' title="Show Sidebar" rel='tooltip'>&nbsp;</a></i>
                                        <li>
                                            <a href="#">WechatManagement</a> <span class="divider">/</span>    
                                        </li>
                                        <li>
                                            <a href="#">WechatAcountManagement</a> <span class="divider">/</span> 
                                        </li>
                                        <li class="active">Tools</li>
                                    </ul>
                                </div>
                            </div>
   
        <div id="custom-bind" class="tab-pane active">
            <div class="row alert alert-info" style="margin: 20px 0;">
                <strong>温馨提示: </strong> <br>
                1.最多生成<strong>3 个一级菜单</strong>，每个一级菜单下最多可以生成 <strong>5 个二级菜单</strong>，菜单<strong>最多支持两层</strong>。<br/>
                2.每次生成了一个一级菜单后都需要保存，然后再添加二级菜单，否则二级菜单将无法保存。
            </div>
            <div class="alert alert-danger" style="display: none;">
                最多生成<strong>3 个一级菜单</strong>，每个一级菜单下最多可以生成 <strong>5 个二级菜单</strong>，菜单<strong>最多支持两层</strong>。<br/>
            </div>

            <div class="operator">
                <div class="col-md-2" style="float:left;">
                    <a href='#bottom' class="btn btn-primary" id="add-top-menu">添加一级菜单</a>
                </div>
                <div class="col-md-2" style="float:left;margin-left:20px">
                    <form action="{:U('WechatMenu/saveMenu')}" method="post">
                        <button class="btn btn-primary" type="submit" id="save-all-menu">保存菜单</button>
                        <input type="hidden" id="save-menu-input" name="wechat[content]"/>
                        <input type="hidden" value="{$wechat['id']}" name="wechat[id]"/>
                    </form>
                </div>
                <div class="col-md-2" style="float:left;">
                    <form action="{:U('WechatMenu/postMenu')}" method="post">
                        <button class="btn btn-primary" type="submit" id="generate-menu">发送菜单</button>
                        <input type="hidden" id="generate-menu-input" name="wechat"/>
                    </form>
                </div>
                <div class="col-md-2" >
<!--                     <a class="btn btn-primary" href="{:U('WechatMenu/deleteMenu')}?id={$wechat['id']}" >撤销菜单</a> -->
                    <form action="{:U('WechatMenu/deleteMenu')}" method="post">
                        <button class="btn btn-primary" type="submit" id="generate-menu">撤销菜单</button>
                        <input type="hidden" id="generate-menu-input" name="wechat"/>
                    </form>
                </div>
            </div>
            <form class="wechat-menu" style=" margin-top: 30px;">
                <table id="menu-table" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>显示顺序</th>
                            <th>主菜单名称</th>
                            <th>触发关键词或链接地址</th>
                            <th>启用</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </form>
            <p id='bottom'></p>
        
    </div>
</div>

</body>
    <script type="text/javascript" src="__PUBLIC__/assets/wechat-menu.js"></script>
    <script>
        //初始化菜单内容
        initMenu('{$wechat['content']}');
        addSubMenuClickable();
    </script>
<!-- Download From www.exet.tk-->
</html>
